<div class="privacy-policy-page">

  <app-navbar></app-navbar>
    

  <div class="privacy-policy">
    <mat-card class="privacy-card">
      <mat-card-header>
        <mat-card-title class="privacy-title">Privacy Policy</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <section class="privacy-section">
          <p>Your privacy is important to us. This privacy policy explains how we collect, use, and protect your information.</p>
        </section>
        <section class="privacy-section">
          <h3>Information Collection</h3>
          <p>We collect information that you provide to us, such as your name and email address. This information is used to improve our services and ensure a better user experience.</p>
        </section>
        <section class="privacy-section">
          <h3>Usage of Information</h3>
          <p>Your information is used to provide you with better services, communicate with you, and improve our website. We do not share your personal information with third parties without your consent.</p>
        </section>
        <section class="privacy-section">
          <h3>Contact Us</h3>
          <p>If you have any questions about this privacy policy, please contact us at <a href="mailto:gobank@gmail.com">Go Bank</a>. We are committed to addressing your concerns and protecting your privacy.</p>
        </section>
      </mat-card-content>
    </mat-card>
  </div>
    <!-- Footer -->
    <app-footer></app-footer>
  </div>